* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: Matter, Helvetica, sans-serif;
}

header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
}

.editable {
    transition: border-radius 0.2s ease-in-out,
    margin 0.2s ease-in-out;
}

header nav {
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #121212;
    padding: 1rem 28px;
}

header nav ul {
    display: flex;
    justify-content: justify-content;
    align-items: center;
    /* gap: 28px; */
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    font-weight: 900;
    padding: 1rem 28px;
    transition: border-radius 0.2s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a:focus {
    border-radius: 32px;
    background-color: #121212;
    color: #fff;
}

header span.edit-btn{
    position: fixed;
    right: 20px;
}

header span button {
    font-size: 1rem;
    font-weight: 900;
    background-color: #121212;
    color: #fff;
    border-radius: 32px;
    padding: 1rem 20px;
    cursor: pointer;
    transition: border-radius 0.2s ease-in-out;
}

header span button:hover,
header span button:focus {
    border-radius: 10px;
}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F2F2;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}


.text {
    min-width: 300px;
}

input {
    border: '1px solid #000000' !important;
}

.text > * {
    margin: 10px 0;
}

.text > h1 + input{
    display: none;
    /* font-size: inherit; */
    /* font-weight: 900; */
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
}
