.costumize-text-dropdown {
    diplsay: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    z-index: 999;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.costumize-text-dropdown button {
    display: none;
    position: relative;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 1;
}

.costumize-text-dropdown button:hover {
    background-color: #F2F2F2;
}

.costumize-text-dropdown .text-dropdown-content {
    position: absolute;
    /* top: 40%; */
    visibility: hidden;
    opacity: 0;
    background-color: #F2F2F2;
    min-width: 160px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.text-dropdown-content ul {
    list-style: none;
}

.text-dropdown-content ul li {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.text-dropdown-content ul li:hover {
    background-color: #ddd;
}

.text-dropdown-content-sub {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    min-width: 160px;
    min-height: 250px;
    /* background-color: #F2F2F2; */
    margin-left: 3px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.text-dropdown-content-sub label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
        /* Style for the inputs */
.text-dropdown-content-sub input,
.text-dropdown-content-sub select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
