header {
    min-height: 100vh;
}

.nav-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
}

header nav {
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #121212;
    padding: 1rem 2px;
}

header nav ul {
    display: flex;
    justify-content: justify-content;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    border-radius: 13px;
    color: #000;
    font-weight: 900;
    padding: 1rem 28px;
    transition: border-radius 0.2s ease-in-out;
}

header nav ul li {
    margin: 0 -7px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}


header nav ul li a:hover,
header nav ul li a:focus {
    border-radius: 32px;
    background-color: #121212;
    color: #fff;
}

span.edit-btn{
    position: fixed;
    right: 20px;
    top: 20px;
}

.hamburger {
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
}

.hamburger .hamburger__box {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hamburger .hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #121212;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    header .logo {
    }

    .nav-container {
        padding: 2rem 0;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* display: none; */
        z-index: 9999;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 7px 0;
        width: 100%;
    }

    header nav ul li a {
        padding: 1rem 0;
        display: block;
        text-align: center;
    }

    header nav ul li a:hover,
    header nav ul li a:focus {
        border-radius: 32px;
        background-color: #121212;
        color: #fff;
    }

    .hamburger {
        display: block;
    }

    header span.edit-btn {
        top: 10%;
    }
    .hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

span.edit-btn button {
    font-size: 1rem;
    font-weight: 900;
    background-color: #121212;
    color: #fff;
    border-radius: 32px;
    padding: 1rem 20px;
    cursor: pointer;
    transition: border-radius 0.2s ease-in-out;
}

header span button:hover,
header span button:focus {
    border-radius: 10px;
}
