.hero-1 {
    height: calc(100vh - 80px);
    display: flex;
    background-color: #F2F2F2;
}

.hero-1 .hero-1__section-1{
    width: 25%;
    position: relative;
    background-image: url("../assets/1e9d5f_de7db79e745d406590617cdbd5afc13c~mv2.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-1 .hero-1__section-1 .hero-1__image-container{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -30%;
}

.hero-1 .hero-1__section-1 .hero-1__image-container > * {
  width: 300px;
  aspect-ratio: 2/3;
}
.hero-1 .hero-1__image-container .hero-1__image-overlay{
  display: block;
    background-color: #F2F2F2;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  transform: translate(-8%, 0%) scaleY(1.1);
}

.hero-1 .hero-1__section-1 .hero-1__image-container img{
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    z-index: 1;
}

.hero-1 .hero-1__section-2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.hero-1 .hero-1__section-2 .hero-1__text-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-1 .hero-1__section-2 .hero-1__text-container h1{
    font-size: 5rem;
    font-weight: 900;
    color: #000;
    line-height: 1.1;
}

.hero-1 .hero-1__section-2 .hero-1__text-container h1:first-of-type{
    color: #c4c4c4;
}

.hero-1 .hero-1__section-2 .hero-1__text-container p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #707070;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
    font-size: .8rem;
    font-weight: 900;
    background-color: #121212;
    color: #fff;
    padding: .7rem 2rem;
    border-radius: 32px;
    border: none;
    margin-right: 1rem;
    transition: background-color 0.1s ease-in-out;
    border: 2px solid transparent;
}

.hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button:hover{
    cursor: pointer;
    color: #121212;
    background-color: #fff;
    border: 2px solid #121212;
}

.hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button:last-child{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button:last-child:hover{
    cursor: pointer;
    color: #fff;
    background-color: #000;
}


@media screen and (max-width: 1724px){
    .hero-1 .hero-1__section-1 .hero-1__image-container{
        right: -40%;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container h1{
        font-size: 4rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container p{
        font-size: 1.1rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        font-size: .8rem;
        padding: .6rem 1.8rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        padding: .6rem 1.8rem;
    }

    .hero-1 .hero-1__section-1 .hero-1__image-container > * {
        width: 250px;
    }
}


@media screen and (max-width: 911px){
    .hero-1 .hero-1__section-1 .hero-1__image-container{
        right: -30%;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container h1{
        font-size: 3.1rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container p{
        font-size: 1rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        font-size: .7rem;
        padding: .5rem 1.5rem;
    }

    .hero-1 .hero-1__section-1 .hero-1__image-container > * {
        width: 200px;
    }

    .hero-1 .hero-1__section-1 .hero-1__image-container .hero-1__image-overlay{
        transform: translate(-6%, 0%) scaleY(1.1);
    }
}

@media screen and (max-width: 768px){
    .hero-1 .hero-1__section-1{
        display: none;
    }

    .hero-1 .hero-1__section-2{
        padding: 0 1rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container h1{
        font-size: 3rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container p{
        font-size: 1rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        font-size: .7rem;
        padding: .5rem 1.5rem;
    }
}

@media screen and (max-width: 500px){
    .hero-1 .hero-1__section-2 .hero-1__text-container h1{
        font-size: 2.5rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container p{
        font-size: .9rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        font-size: .6rem;
        padding: .4rem 1.2rem;
    }
}

@media screen and (max-width: 400px){
    .hero-1 .hero-1__section-2 .hero-1__text-container h1{
        font-size: 2rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container p{
        font-size: .8rem;
    }

    .hero-1 .hero-1__section-2 .hero-1__text-container .hero-1__btn-container button{
        font-size: .5rem;
        padding: .3rem 1rem;
    }
}
