.text-container {
    position: relative;
    width: fit-content;
}
/*  */
/* .text { */
/*     min-width: 300px; */
/* } */
/*  */
/* .text > * { */
/*     margin: 10px; */
/* } */

.text textarea {
    display: none;
    /* font-size: inherit; */
    /* font-weight: 900; */
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    height: 100%;
    /* min-width: 300px; */
    max-width: 1000px;
    transition: all 0.15s ease-in-out;
    resize: none;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    white-space: nowrap; /* Prevent line breaks */
    overflow-wrap: break-word;
    overflow-y: noscroll;
}

.text textarea {
    outline: 1px dashed #000;
}
